<style>
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Inconsolata:wght@200;300;400;500;600;700&display=swap');
</style>

/*-----Colours------*/

/*-------Special paddings/margins/text------*/

* {
    margin: 0;
    padding:0;
    border: 0;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

/*-----------------------------------Header-----*/

.logo {
   width: 50%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

/*----------------------------------------------Nav Bar-----*/

#nav {
    font-family: "Comfortaa", sans-serif;
    font-weight: 300;
    letter-spacing: 0.2em;
}

#nav a {
    text-decoration: none;
    color: #58616D;
    font-size: 1em;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
