<style>@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Inconsolata:wght@200;300;400;500;600;700&display=swap');</style>


/*-------------------------------Colours------*/

/*----------------------Special paddings/margins/text------*/

* {
    margin: 0;
    padding:0;
    border: 0;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

h2 {
    font-family: "Comfortaa", sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    color: #17191c
}

/*------------------------------------------hover.css-----*/

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*------------------------------------------Header-----*/

.logo {
    width: 100%;
    padding: 50px 0 50px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*----------------------------------------------Nav Bar---*/

.navbar {
    font-family: "Comfortaa", sans-serif !important;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #58616D;
    padding: 0;
    font-size: 2vh;
}

.navbar-toggler, .navbar-collapse {
    margin-left: 20px;
}

/*----------------------------------------------Modal-----*/

.modalDialog {
	position: fixed;
	font-family: "Inconsolata", sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#C0CED7);
	background: -webkit-linear-gradient(#C0CED7);
	background: -o-linear-gradient(#C0CED7);
}

.close {
	background-color: #58616D;
	color: white;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close span {
    color: white;
}

#newsletter-text {
    text-transform: none !important;
    letter-spacing: 1px !important;
    font-family: "Inconsolata", sans-serif !important;
    font-weight: 400 !important;
    color: #2d3239 !important;
}

#newsletter-email {
    font-family: "Inconsolata", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2d3239;
    margin: 8px 0 10px 0;
    border: 1px solid #2d3239;
    border-radius: 15px;
    font-size: 2vh;
}

#sign-up {
    background-color: #58616D;
    color: #FFFFF0;
    font-family: "Inconsolata", sans-serif;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin: 8px 0 10px 0;
    border: 1px solid #58616D;
    border-radius: 15px;
    font-size: 2vh;
}

#newsletter-email {
    width: 250px;
    height: 30px;
    padding-left: 10px;
}

#sign-up {
    padding: 5px;
    width: 80px;
}

.modal-image {
    width: 80%;
    height: 25rem;
    opacity: 0.8;
    border-radius: 5%; 
}

/*----------------------------------------------Hero Image-----------*/

body, html {
  height: 100%;
}
.bg {
    margin-top: 30px;   
    background-image: url("../images/hero-image.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Comfortaa", sans-serif;
    letter-spacing: 3px;
    font-weight: 300;
    text-decoration: none;
    border-bottom:#FFFFF0 0.05em solid;
    color: #FFFFF0;
    font-size: 3vh;
    transition-property: font-size;
    transition-duration: 0.3s

}

.cta:hover {
    color: #FFFFF0;
    border-bottom: 0.05em solid #FFFFF0;
    transition-property: font-size;
    transition-duration: 0.3s;
    font-size: 3.8vh;
}

/*----------------------------------------------Why Us-----------*/

.why-us {
    margin-top: 30px;
}

.why-us-heading {
    font-size: 2.5vh;
    letter-spacing: 0.1rem;
    color: #58616D;
}

.why-us-title {
    font-family: "Comfortaa", sans-serif;
    font-size: 2vh;
    letter-spacing: 2px;
    margin-top: 10px;
    font-weight: 600;
}

.why-us-content {
    margin-top: 40px;
    letter-spacing: 0.5px;
    font-family: "Inconsolata", sans-serif;
    font-size: 2vh;
    font-weight: 300;
    line-height: 25px;
}

.why-us-content i {
    font-size: 3vh;
}


/*----------------------------------------------Testimonials-----------*/

.bg-two {
    margin-top: 30px;   
    background-image: url("../images/testimonial-main-image.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.surfers-stories {
    margin-top: 30px;
}

.surfers-stories-heading {
    font-size: 2.5vh;
    letter-spacing: 2px;
    color: #58616D;
}

.surfers-stories-name {
    font-family: "Comfortaa", sans-serif;
    font-size: 2vh;
    letter-spacing: 2px;
    margin-top: 20px;
    font-weight: 600;
}

.surfers-stories-place {
    font-family: "Comfortaa", sans-serif;
    color: #58616D;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 2vh;
}

.surfers-stories i {
    font-size: 2vh;
    letter-spacing: 0.1rem;
}

.img-thumbnail {
    border: none !important;
    margin-top: 20px;
}

.surfer-stories-content {
    margin-top: 15px;
    letter-spacing: 0.1rem;
    font-family: "Inconsolata", sans-serif;
    font-size: 2vh;
    font-weight: 300;
    line-height: 25px;
}

/*--------------------------------------------------Gallery---------------*/

.gallery-heading {
    font-size: 2.5vh;
    letter-spacing: 2px;
    color: #58616D;
    text-decoration: none;
}

.gallery a {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px; 
}

.gallery a:hover {
    color: #58616D;
}

.gallery-image-one {
    width: 100%;
    
}

..gallery-image-two {
    width: 100%;
}

.gallery-image-three, .gallery-image-four, .gallery-image-five {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    padding-bottom: 1rem;
    
}

/*-------------------------------------------About Page / Hero Image------------*/

.bg-three {
    margin-top: 30px;   
    background-image: url("../images/about-hero-image.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*-------------------------------------------About Page / Our Story------------*/

.our-story-heading {
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 3vh;
    letter-spacing: 0.2rem;
    color: #58616D;
}

.our-story-content {
    margin-left: 1rem;
    letter-spacing: 0.1rem;
    font-family: "Inconsolata", sans-serif;
    font-size: 2vh;
    font-weight: 300;
    line-height: 25px;
}

.our-story-img {
    margin-bottom: 3rem;
}

.our-story-row {
    display: flex;
    align-items:center;
}

.our-story-content-end {
    font-size: 3vh;
    font-family: "Comfortaa", sans-serif;
    font-weight: 300;
    letter-spacing: 0.2rem;
    color: #58616D;
}

/*---------------------------------------------About Page / Bottom Banner Image-----------*/

.bg-four {
    margin-top: 30px; 
    background-image: url("../images/about-bottom-image.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*-------------------------------------------------------Form Page / Hero Image-----------*/

.bg-five {
    margin-top: 30px; 
    background-image: url("../images/form-hero-image.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*-----------------------------------------------------------Form Page Intro-----------*/

.custom-surfboards-heading {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 3vh;
    letter-spacing: 0.2rem;
    color: black;
}


.custom-surfboards-intro {
    margin-left: 1rem;
    letter-spacing: 0.1rem;
    font-family: "Inconsolata", sans-serif;
    font-size: 2vh;
    font-weight: 300;
    line-height: 25px;
}

#custom-surfboards-price {
    margin-left: 1rem;
    letter-spacing: 0.1rem;
    font-family: "Inconsolata", sans-serif;
    font-size: 2vh;
    font-weight: 400;
    line-height: 25px;
    color: black;
    text-align: center;
}

/*-----------------------------------------------------------Form Page / Form-----------*/

.form-heading {
    padding-top: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 3vh;
    letter-spacing: 0.15rem;
    color: #58616D
}

label, input, select, textarea {
    letter-spacing: 0.1rem;
    font-family: "Inconsolata", sans-serif;
    font-size: 2vh;
    font-weight: 300;
    line-height: 25px;
    margin: 0.2rem;
}

#height, #weight {
    padding: 4px;
}

#order-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
    font-family: "Inconsolata", sans-serif;
    font-size: 2vh;
    font-weight: 400;
    text-align: center;

}

/*---------------------------------------------------------------Footer--------------------------*/

footer {
    background-color: #E3E3E3;
    width: 100%;
    height: 18rem;
} 

footer h4 {
    font-family: "Comfortaa", sans-serif;
    font-size: 2vh;
    letter-spacing: 2px;
    margin-top: 20px;
    font-weight: 600;
}

footer p {
    margin-top: 15px;
    letter-spacing: 0.5px;
    font-family: "Inconsolata", sans-serif;
    font-size: 2vh;
    font-weight: 300;
}

footer i {
    font-size: 3vh;
    letter-spacing: 20px;
    padding-top: 0.5rem;
    font-weight: 300;
    color: black;
}

/*----------------------------------------------------------Media Queries-------------------*/

@media (min-width: 280px) and (max-width: 1024px) {
    .bg, .bg-two, .bg-three, .bg-four, .bg-five {
        background-attachment: scroll;
    }

    footer {
        height: 33rem;
    }

    .our-story-heading {
        margin-bottom: 1rem;
    }

}

@media (min-width: 280px) and (max-width: 812px) {

    footer {
        height: 35rem;
    }

    footer i {
        letter-spacing: 2px;
        margin-right: 25px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        footer {
            height: 40rem;
        }
    }